.area{
    display:flex;
    width: var(--area-port-width);
    height: var(--area-port-height);
}

.frame{
    display: flex;
    flex-grow: 1;
    border: 5px solid brown;
    border-bottom: none;
}

.port{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: chocolate;
    padding: 15px;
}

.number{
    font-size: 3rem;
}