.area{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: var(--area-port-width);
    height: var(--area-port-height);
    margin: 5px;
}

.frame{
    display: flex;
    flex-grow: 1;
    border: 5px solid brown;
    border-bottom: none;
    width: 90%
}

.port{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: chocolate;
    padding: 15px;
}

.number{
    font-size: 3rem;
}

.floor{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}